@page "/User/ChangePasswordConfirmation"

<PageTitle>Change password confirmation</PageTitle>

<h1>change password confirmation</h1>
<p>
    Password has been changed.  
    Click <a href="/User/SignIn">here to return to the Sign In page.</a>
</p>
