@page "/"
@using Microsoft.AspNetCore.Components.Server.ProtectedBrowserStorage
@inject ProtectedLocalStorage ProtectedLocalStore

<PageTitle>Welcome</PageTitle>

<div class="text-center">
    <h1 class="">
        <span class="text-secondary">Welcome to the</span>
        <span class="text-primary">Jiwa Customer Portal</span>
    </h1>
    <p class="text-secondary">
        Want your own customer portal for your own customers?  This portal is free and open-source - more info at the <a href="https://github.com/JiwaFinancials/JiwaCustomerPortal">Jiwa Customer Portal Github</a>
    </p>           
</div>

<hr/>

<div class="container">
    <div class="row">
        <div class="col">
            <div class="card" style="width: 18rem; height: 18rem;">
                <p></p>
                <svg xmlns="http://www.w3.org/2000/svg" width="64" height="64" fill="currentColor" class="bi bi-cloud-download card-img-top" viewBox="0 0 16 16">
                    <path d="M4.406 1.342A5.53 5.53 0 0 1 8 0c2.69 0 4.923 2 5.166 4.579C14.758 4.804 16 6.137 16 7.773 16 9.569 14.502 11 12.687 11H10a.5.5 0 0 1 0-1h2.688C13.979 10 15 8.988 15 7.773c0-1.216-1.02-2.228-2.313-2.228h-.5v-.5C12.188 2.825 10.328 1 8 1a4.53 4.53 0 0 0-2.941 1.1c-.757.652-1.153 1.438-1.153 2.055v.448l-.445.049C2.064 4.805 1 5.952 1 7.318 1 8.785 2.23 10 3.781 10H6a.5.5 0 0 1 0 1H3.781C1.708 11 0 9.366 0 7.318c0-1.763 1.266-3.223 2.942-3.593.143-.863.698-1.723 1.464-2.383" />
                    <path d="M7.646 15.854a.5.5 0 0 0 .708 0l3-3a.5.5 0 0 0-.708-.708L8.5 14.293V5.5a.5.5 0 0 0-1 0v8.793l-2.146-2.147a.5.5 0 0 0-.708.708z" />
                </svg>
                <div class="card-body">
                    <h5 class="card-title">Downloads</h5>
                    <p class="card-text">Download installation packages for Jiwa.</p>
                </div>
                <div class="card-footer">
                    <a href="/Downloads" class="btn btn-primary">Downloads &raquo;</a>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card" style="width: 18rem; height: 18rem;">
                <p></p>
                <svg xmlns="http://www.w3.org/2000/svg" width="64" height="64" fill="currentColor" class="bi bi-cloud-download card-img-top" viewBox="0 0 16 16">
                    <path d="M4.406 1.342A5.53 5.53 0 0 1 8 0c2.69 0 4.923 2 5.166 4.579C14.758 4.804 16 6.137 16 7.773 16 9.569 14.502 11 12.687 11H10a.5.5 0 0 1 0-1h2.688C13.979 10 15 8.988 15 7.773c0-1.216-1.02-2.228-2.313-2.228h-.5v-.5C12.188 2.825 10.328 1 8 1a4.53 4.53 0 0 0-2.941 1.1c-.757.652-1.153 1.438-1.153 2.055v.448l-.445.049C2.064 4.805 1 5.952 1 7.318 1 8.785 2.23 10 3.781 10H6a.5.5 0 0 1 0 1H3.781C1.708 11 0 9.366 0 7.318c0-1.763 1.266-3.223 2.942-3.593.143-.863.698-1.723 1.464-2.383" />
                    <path d="M7.646 15.854a.5.5 0 0 0 .708 0l3-3a.5.5 0 0 0-.708-.708L8.5 14.293V5.5a.5.5 0 0 0-1 0v8.793l-2.146-2.147a.5.5 0 0 0-.708.708z" />
                </svg>
                <div class="card-body">
                    <h5 class="card-title">Licences</h5>
                    <p class="card-text">Download Licences for Jiwa.</p>

                </div>
                <div class="card-footer">
                    <a href="/Licences" class="btn btn-primary">Licences &raquo;</a>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card" style="width: 18rem; height: 18rem;">
                <p></p>
                <svg xmlns="http://www.w3.org/2000/svg" width="64" height="64" fill="currentColor" class="bi bi-question-circle card-img-top" viewBox="0 0 16 16">
                    <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14m0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16" />
                    <path d="M5.255 5.786a.237.237 0 0 0 .241.247h.825c.138 0 .248-.113.266-.25.09-.656.54-1.134 1.342-1.134.686 0 1.314.343 1.314 1.168 0 .635-.374.927-.965 1.371-.673.489-1.206 1.06-1.168 1.987l.003.217a.25.25 0 0 0 .25.246h.811a.25.25 0 0 0 .25-.25v-.105c0-.718.273-.927 1.01-1.486.609-.463 1.244-.977 1.244-2.056 0-1.511-1.276-2.241-2.673-2.241-1.267 0-2.655.59-2.75 2.286m1.557 5.763c0 .533.425.927 1.01.927.609 0 1.028-.394 1.028-.927 0-.552-.42-.94-1.029-.94-.584 0-1.009.388-1.009.94" />
                </svg>
                <div class="card-body">
                    <h5 class="card-title">Help Center</h5>
                    <p class="card-text">Web portal for help requests - quotes, product support, bug reports and feature requests.</p>
                </div>
                <div class="card-footer">
                    <a class="btn btn-primary" href="//jiwa.atlassian.net/servicedesk/customer/portals" target="_blank">Help Center &raquo;</a>
                </div>
            </div>
        </div>        
    </div>
    <p></p>
    <div class="row">
        <div class="col">
            <div class="card" style="width: 18rem; height: 18rem;">
                <p></p>
                <svg xmlns="http://www.w3.org/2000/svg" width="64" height="64" fill="currentColor" class="bi bi-person-raised-hand card-img-top" viewBox="0 0 16 16">
                    <path d="M6 6.207v9.043a.75.75 0 0 0 1.5 0V10.5a.5.5 0 0 1 1 0v4.75a.75.75 0 0 0 1.5 0v-8.5a.25.25 0 1 1 .5 0v2.5a.75.75 0 0 0 1.5 0V6.5a3 3 0 0 0-3-3H6.236a1 1 0 0 1-.447-.106l-.33-.165A.83.83 0 0 1 5 2.488V.75a.75.75 0 0 0-1.5 0v2.083c0 .715.404 1.37 1.044 1.689L5.5 5c.32.32.5.754.5 1.207" />
                    <path d="M8 3a1.5 1.5 0 1 0 0-3 1.5 1.5 0 0 0 0 3" />
                </svg>
                <div></div>
                <div class="card-body">
                    <h5 class="card-title">Forums</h5>
                    <p class="card-text">Ask questions, get answers! Visit the Jiwa forums for discussions relating to the product.</p>

                </div>
                <div class="card-footer">
                    <a class="btn btn-primary" href="//forums.jiwa.com.au" target="_blank">Forums &raquo;</a>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card" style="width: 18rem; height: 18rem;">
                <p></p>
                <svg xmlns="http://www.w3.org/2000/svg" width="64" height="64" fill="currentColor" class="bi bi-bug card-img-top" viewBox="0 0 16 16">
                    <path d="M4.355.522a.5.5 0 0 1 .623.333l.291.956A5 5 0 0 1 8 1c1.007 0 1.946.298 2.731.811l.29-.956a.5.5 0 1 1 .957.29l-.41 1.352A5 5 0 0 1 13 6h.5a.5.5 0 0 0 .5-.5V5a.5.5 0 0 1 1 0v.5A1.5 1.5 0 0 1 13.5 7H13v1h1.5a.5.5 0 0 1 0 1H13v1h.5a1.5 1.5 0 0 1 1.5 1.5v.5a.5.5 0 1 1-1 0v-.5a.5.5 0 0 0-.5-.5H13a5 5 0 0 1-10 0h-.5a.5.5 0 0 0-.5.5v.5a.5.5 0 1 1-1 0v-.5A1.5 1.5 0 0 1 2.5 10H3V9H1.5a.5.5 0 0 1 0-1H3V7h-.5A1.5 1.5 0 0 1 1 5.5V5a.5.5 0 0 1 1 0v.5a.5.5 0 0 0 .5.5H3c0-1.364.547-2.601 1.432-3.503l-.41-1.352a.5.5 0 0 1 .333-.623M4 7v4a4 4 0 0 0 3.5 3.97V7zm4.5 0v7.97A4 4 0 0 0 12 11V7zM12 6a4 4 0 0 0-1.334-2.982A3.98 3.98 0 0 0 8 2a3.98 3.98 0 0 0-2.667 1.018A4 4 0 0 0 4 6z" />
                </svg>
                <div class="card-body">
                    <h5 class="card-title">Bug Tracking</h5>
                    <p class="card-text">See what's been fixed, what's going to be fixed and what new features are coming up.</p>
                </div>
                <div class="card-footer">
                    <a class="btn btn-primary" href="//jiwa.atlassian.net/browse/DEV" target="_blank">Bug Tracking &raquo;</a>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card" style="width: 18rem; height: 18rem;">
                <p></p>
                <svg xmlns="http://www.w3.org/2000/svg" width="64" height="64" fill="currentColor" class="bi bi-file-text card-img-top" viewBox="0 0 16 16">
                    <path d="M5 4a.5.5 0 0 0 0 1h6a.5.5 0 0 0 0-1zm-.5 2.5A.5.5 0 0 1 5 6h6a.5.5 0 0 1 0 1H5a.5.5 0 0 1-.5-.5M5 8a.5.5 0 0 0 0 1h6a.5.5 0 0 0 0-1zm0 2a.5.5 0 0 0 0 1h3a.5.5 0 0 0 0-1z" />
                    <path d="M2 2a2 2 0 0 1 2-2h8a2 2 0 0 1 2 2v12a2 2 0 0 1-2 2H4a2 2 0 0 1-2-2zm10-1H4a1 1 0 0 0-1 1v12a1 1 0 0 0 1 1h8a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1" />
                </svg>
                <div class="card-body">
                    <h5 class="card-title">Docs</h5>
                    <p class="card-text">Documentation portal for Jiwa.</p>
                </div>
                <div class="card-footer">
                    <a class="btn btn-primary" href="//docs.jiwa.com.au" target="_blank">Docs &raquo;</a>
                </div>
            </div>
        </div>
    </div>
</div>
