@page "/"
@using Microsoft.AspNetCore.Components.Server.ProtectedBrowserStorage
@inject ProtectedLocalStorage ProtectedLocalStore

<PageTitle>Welcome</PageTitle>

<div class="text-center">
    <h1 class="">
        <span class="text-secondary">Welcome to the</span>
        <span class="text-primary">Jiwa Customer Portal</span>
    </h1>
    <p class="text-secondary">
        Welcome to our customer portal.
    </p>           
</div>
